<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>453896355491-maug8cvfrqjdtal2quius0jcbu7cecpf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.453896355491-maug8cvfrqjdtal2quius0jcbu7cecpf</string>
	<key>API_KEY</key>
	<string>AIzaSyDSMnXlks7XWmi2RwI-3v8l6ar1T8sz--s</string>
	<key>GCM_SENDER_ID</key>
	<string>453896355491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bprldr.dsisApp</string>
	<key>PROJECT_ID</key>
	<string>dsis-7ca4c</string>
	<key>STORAGE_BUCKET</key>
	<string>dsis-7ca4c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:453896355491:ios:f4fd568d047a69b183c916</string>
</dict>
</plist>